<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/fontAwesome/css/all.css">
  <title th:text="${PageTitle}"></title>
</head>
<body>
  
  <!-- Main page header -->
  <header class="main-page-header">

    <!-- Header elements container -->
    <div class="container d-flex">
  	  
      <!-- Main page navigation -->
      <nav class="main-nav mr-2 d-flex align-items-center"> 
        <li><i class="fa fa-desktop"></i> <a href="dashboard.html" class="text-light">Dashboard</a></li>
        <li><i class="fa fa-user"></i> Projects</li>
        <li><i class="fa fa-cogs"></i> Settings</li>
        <li><i class="fa fa-clipboard-check"></i> Analytics</li> 
      </nav>
      <!-- Main page navigation -->

      <!-- Inline form -->
      <form id="search-form" class="form-inline">
        <input type="text" name="" class="form-control" placeholder="Search...">
        <button class="btn btn-md btn-info">Search</button>
      </form>
      <!-- Inline form -->

      <!-- Login identifier -->
      <div class="login-identifier alert alert-warning">
        Logged in as: <strong th:text="${session.user.getUser_type()}"></strong>
      </div>
      <!-- Login identifier -->
      

      <!-- UserName display  -->
      <div class="username-display d-flex align-items-center ml-auto">
        Welcome:
        <span class="text-light ml-2" th:text="${session.user.getFirst_name} + ${session.user.getLast_name}"></span>
      </div>
      <!-- UserName display  -->
  	  
      <!-- Log Out Button -->
      <div class="d-flex align-items-center ml-auto">
        <a href="/logout" class="btn btn-md btn-outline-info">Log Out</a>
      </div>
      <!-- Log Out Button -->

    </div>
    <!-- Header elements container -->

  </header>
  <!-- Main page header -->

  <!-- Container -->
  <div class="container py-3 d-flex ">
    <b>User Details:</b>
  </div>
  <!-- Container -->
  
  <!-- Container User Card -->
  <div class="container">
    <!-- Card -->
    <div class="card">

      <!-- Card Header -->
      <div class="card-header bg-info py-3 text-white">
        <i class="fa fa-user mr-2"></i> User Information
      </div>
      <!-- Card Header -->
      
      <!-- User Details Display -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>First Name</b>: <span th:text="${session.user.getFirst_name()}"></span></li>
        <li class="list-group-item"><b>Last Name</b>: <span th:text="${session.user.getLast_name()}"></span></li>
        <li class="list-group-item"><b>Email</b>: <span th:text="${session.user.getEmail()}"></span></li>
        <li class="list-group-item"><b>User type</b>: <span th:text="${session.user.getUser_type()}"></span></li>
      </ul>
      <!-- User Details Display -->
      
      <!-- Card Footer -->
      <div class="card-footer">
        <div class="card-text text-muted">
          <b>Date Registered:</b> <span th:text="${session.user.getCreated_at()}"></span>
        </div>
      </div>
      <!-- Card Footer -->

    </div>
    <!-- Card -->
  </div>
  <!-- Container User Card -->

</body>
</html>